.rate-parameters-container {
    width: 100%;
    min-height: 3vw;
    display: flex;
    flex-direction: row;
    border: 1px solid #e6eae9;
    padding: 0.5%;

}

.rate-params {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.chip-bg-color{

}
/*    .param-field:first-child{
        margin-right: 3.22%;
    }
    .rate-search-button{
        margin-left: 3.22%;
    }*/