.block-header{
    width: 95%;
    margin-left: 2.5%;
}
.ship-schedule-table {
    width: 95%;
    font-size: 11pt;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: 1px solid #e6eae9;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}
.td-right {
    text-align: right;
    padding-right: 1%;
}
.td-center {
    text-align: center;
}
.rate-card-detail-service {
    line-height: 40px;
}