.additional-item-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 40px;
}
.additional-item-row:nth-child(2){
    background-color: #eaeaea;
}
.additional-item-name{
    width: 80%;
}
.additional-item-price{
    text-align: right;
    width: 20%;
}